<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Lista de Pokemons </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Pokemons</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-item
      *ngFor="let pokemon of listaPokemons"
      (click)="escolherPokemon(pokemon.name)"
    >
      <ion-avatar aria-hidden="true" slot="start">
        <img
          alt=""
          [src]="pokemon.image"
        />
      </ion-avatar>
      <ion-label
        >{{ stringUtils.primeiraLetraMaiuscula(pokemon.name) }}</ion-label
      >
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
